<!DOCTYPE html>
<html>
  <head>
    <title>PaywallSass</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to 'Home', root_path %>
    <div>
      <% if current_account %>
        <p> Hola, <%= current_account.name %> </p>
        <%= link_to 'sign out', destroy_account_session_path, method: :delete %>
      <% else %>
        <%= link_to 'sign in', new_account_session_path %>
        <%= link_to 'sign up', new_account_registration_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
